@import '_variables.scss';

$h-spotify-logo: 120px;
$h-menu-opcoes: 150px;
$m-entre-menus: 10px;

:host{
    max-width: 300px;
    min-height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    background-color: #121212;
    box-shadow: 1px 1px 15px #ffffff04;

    .menus{
        flex-grow: 1;
        flex-direction: column;
        height: 100%;
        padding: 0px 35px 0px 35px;

        .image-container{
            min-height: $h-spotify-logo;

            img{
                width: 70%;
            }
        }

        .menu-container{
            width: 100%;
         
            &.flex{
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            }
            &.opcoes{
                min-height: $h-menu-opcoes;
                flex-direction: column;
                
                *{
                    margin-bottom: $m-entre-menus;
                }
            }

            .playlist-titulo{
                margin: 10px 0px;
                align-self: flex-start;
                font-weight: 700;
                font-size: .7rem;
                color: $button-green;
            }

            .playlist-scroll{
                width: 100%;
                max-height: 50vh;
                overflow-y: auto;
                &::-webkit-scrollbar{
                    display: none;
                }
                * {
                    margin-bottom: $m-entre-menus;
                }
            }
        }
    }
}